registry=https://registry.npmjs.org/
cache=.npm-cache
engine-strict=true
ignore-scripts=true
audit=false
fund=false
update-notifier=false
package-lock=true
save-exact=true
install-links=true
legacy-peer-deps=false
strict-peer-deps=true
prefer-dedupe=true
omit-lockfile-registry-resolved=false
